USE [SISTEMA_WEB]
GO
/****** Object:  Table [dbo].[EMPLEADO]    Script Date: 8/15/2016 4:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLEADO](
	[ID] [nvarchar](50) NOT NULL,
	[CEDULA] [nvarchar](50) NOT NULL,
	[NOMBRE] [nvarchar](50) NOT NULL,
	[APELLIDO] [nvarchar](50) NOT NULL,
	[FECHA_NACIMIENTO] [nvarchar](50) NOT NULL,
	[SEXO] [nvarchar](50) NOT NULL,
	[DIRECCION] [nvarchar](50) NOT NULL,
	[TELEFONO] [nvarchar](50) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_EMPLEADO] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[PRESTACIONES]    Script Date: 8/15/2016 4:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PRESTACIONES](
	[ID] [nvarchar](50) NOT NULL,
	[HORA_TRABAJADA] [nvarchar](50) NOT NULL,
	[TARIFA_HORA] [nvarchar](50) NOT NULL,
	[AFP] [nvarchar](50) NOT NULL,
	[MES] [nvarchar](50) NOT NULL,
	[YEAR] [nvarchar](50) NOT NULL,
	[TOTAL] [nvarchar](50) NOT NULL,
	[ESTADO] [nvarchar](50) NOT NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[USUARIO]    Script Date: 8/15/2016 4:05:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[USUARIO](
	[NOMBRE] [varchar](50) NOT NULL,
	[PASSWORLD] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_USUARIO_WEB] PRIMARY KEY CLUSTERED 
(
	[NOMBRE] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
